.title {  
        text-align: center;
        background-color: #0d6efd;
        border-radius: 20px 20px 0px 20px;
        font-size: 40px;
        color: white;
        width: 150px;
        height: 80px;
        margin: auto;
        margin-bottom: 23px;
        margin-top: 23px;
        line-height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
}