html,
body {
  padding: 0;
  margin: 0;
  font-family: Quicksand, cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #E600FF #DFE9EB;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 9px;
  width: 9px;
}
*::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #DFE9EB;
  border: 2px solid #9300C0;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 18px;
  background-color: #E600FF;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #b000a4;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #8D00A3;
}